@font-face {  font-family: "Nino Mtavruli"; 
src:
url('../../fonts/nino_mtavruli.ttf') format("truetype"),
url('../../fonts/nino_mtavruli.eot') format('eot'),
url('../../fonts/nino_mtavruli.woff') format('woff'),
url('../../fonts/nino_mtavruli.svg') format('svg');
font-weight: normal;  font-style: normal;
}  

@font-face {  font-family: "Rioni"; 
src:
url('../../fonts/bpg_rioni.ttf') format("truetype"),
url('../../fonts/bpg_rioni.eot') format('eot'),
url('../../fonts/bpg_rioni.woff') format('woff'),
url('../../fonts/bpg_rioni.svg') format('svg');
font-weight: normal;  font-style: normal;
} 