@model IEnumerable<ComputerScienceTsu.Models.Generated.News>

<section id="news">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-4 bottom-sm">
                    <nav class="box-white no-padding">
                        <ul class="side-menu">
                            <li class="sidemenu-item"><a href="@Url.Action("Index", "News")">სიახლეები</a></li>
                            <li class="sidemenu-item has-dropdown">
                                <a>კათედრების სია&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
                                <ul class="side-submenu">
                                    <li class="submenu-item"><a href="#">გამოყენებითი ინფორმატიკა</a></li>
                                    <li class="submenu-item"><a href="#">თეორიული ინფორმატიკა</a></li>
                                    <li class="submenu-item"><a href="#">პრაქტიკული ინფორმატიკა</a></li>
                                    <li class="submenu-item"><a href="#">ტექნიკური ინფორმატიკა</a></li>
                                </ul>
                            </li>
                            <li class="sidemenu-item"><a href="#">ლაბორატორიები</a></li>
                            <li class="sidemenu-item"><a href="#">ინსტიტუტები</a></li>
                            <li class="sidemenu-item has-dropdown">
                                <a>სწავლება&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
                                <ul class="side-submenu">
                                    <li class="submenu-item"><a href="#">საბაკალავრო პროგრამები</a></li>
                                    <li class="submenu-item"><a href="#">სამაგისტრო პროგრამები</a></li>
                                    <li class="submenu-item"><a href="#">სადოქტორო პროგრამები</a></li>
                                    <li class="submenu-item"><a href="#">სასწავლო/საწარმოო პრაქტიკა</a></li>
                                </ul>
                            </li>
                            <li class="sidemenu-item has-dropdown">
                                <a>კვლევა&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
                                <ul class="side-submenu">
                                    <li class="submenu-item"><a href="#">კვლევის მიმართულებები</a></li>
                                    <li class="submenu-item"><a href="#">კონფერენციები</a></li>
                                    <li class="submenu-item"><a href="#">გრანტები</a></li>
                                    <li class="submenu-item"><a href="#">ექსპედიციები</a></li>
                                    <li class="submenu-item"><a href="#">დაცული დისერტაციები</a></li>
                                    <li class="submenu-item"><a href="#">მიმდინარე მიზნობრივი პროექტები</a></li>
                                    <li class="submenu-item"><a href="#">სტუდენტთა სამეცნიერო წრე</a></li>
                                </ul>
                            </li>
                            <li class="sidemenu-item"><a href="">ფოტოგალერეა</a></li>
                            <li class="sidemenu-item"><a href="">კონტაქტი</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-6 col-md-8">
                    <div class="box-white">
                        @foreach (var item in Model)
                        {
                         <article class="news-pg-item">
                            <div class="itm-img">
                                <a href="#"><img src="@Html.DisplayFor(modelItem => item.Image_path)"></a>
                            </div> 

                            <h3 class="itm-title"><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                            <div class="itm-paragraph">
                                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                            </div>
                            <div class="itm-details">
                                <span><i class="fa fa-clock-o"></i>&nbsp;3 დღის წინ</span>
                                <span><i class="fa fa-eye"></i>&nbsp;43</span>
                                <span style="text-align:left;"><i class="fa fa-book"></i>&nbsp;<a href="/News/Details/@Html.DisplayFor(modelItem => item.ID)" target="_blank">სრულად</a></span>
                            </div>
                        </article>

                        }

                        <nav id="pagination" class="pagination-nav">
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>



                    </div>
                </div>

                <div class="col-lg-3 hidden-sm hidden-xs hidden-md">
                    <div class="box-white sidebar-hotlinks">

                        <a href="http://tsu.edu.ge/ge/faculties/science/ojyqp0d9tyfxg2m/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/faculty_zust/abi.jpg" alt="">
                        </a>

                        <a href="http://tsu.edu.ge/ge/faculties/science/yoqrmvp_gctzkw9mk/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/faculty_zust/sandiego-uni.png" alt="">
                        </a>

                        <a href="https://www.tsu.ge/ge/faculties/science/gcxwjek_yvqyft0g4/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/faculty_zust/geo-german.png" alt="">
                        </a>

                        <a href="https://www.tsu.ge/ge/faculties/science/aybwuvm7mmpi70j9o/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/faculty_zust/baneri-STM.png" alt="">
                        </a>

                        <a href="https://www.tsu.ge/ge/faculties/science/iglb0tdf6hhohskx/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/faculty_zust/projects-1.png" alt="">
                        </a>

                        <a href="https://www.tsu.ge/ge/faculties/science/_wfplofnpxmqm4qwr/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/faculty_zust/banner-viktorina.png" alt="">
                        </a>

                        <a href="http://www.ffi.tsu.ge/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/ffi.gif" alt="">
                        </a>

                        <a href="https://www.tsu.ge/ge/faculties/science/jqvn8ssyelvp0-lyn/">
                            <img class="img-responsive" src="https://www.tsu.ge/data/image_db_innova/faculty_zust/gacvliTi.jpg" alt="">
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

